{% extends '_layout_wide' %}

{% set course = entry.course.one() %}
{% set instructor = course.instructor.one() %}

{% block content %}
<h1>{{ entry.title }}</h1>
<h2>{{ course.title }}</h2>

<dl class="detail-listing detail-listing--syllabus group">
  <div class="detail-list__column">
    <dt>Instructor:</dt>
    <dd>{{ instructor.title }}</dd>
		{% for block in instructor.instructorInformation.all() %}
      {% if block.type == "email" %}
        <dt>Instructor Email:</dt>
        <dd><a href="mailto:{{ block.emailAddress }}">{{ block.emailAddress }}</a></dd>
      {% endif %}
		{% endfor %}
    <dt>Term:</dt>
    <dd>{{ course.term.one().title }}</dd>
  </div>
  <div class="detail-list__column">
    <dt>Day/Time:</dt>
    <dd>{{ course.dayTime }}</dd>
    <dt>Location:</dt>
    <dd><a href="{{ 'https://www.google.com/maps/search/?api=1&query=' ~ course.location.one().address|url_encode }}">{{ course.location.one().title }}</a>{% if course.location.one().room|length %}, Room {{ course.location.one().room }}{% endif %}</dd>
  </div>
</dl>

{% for block in entry.syllabusInfo.all() %}

  {% switch block.type %}
    {% case 'body' %}
      {{ block.body }}

    {% case 'assignmentsList' %}
      <div class="table-container">
        {% for assignmentType in craft.categories.group('assignmentTypes').all() %}
          <div class="table-float">
            <h4>{{ assignmentType.title }}</h4>
            <table>
              <thead>
                <th style="text-align:left;">Assignment</th>
                <th style="text-align:left;">Points</th>
              </thead>
              <tbody>
                {% for assignment in craft.entries.section('assignments').relatedTo(assignmentType).all() %}
                  <tr>
                    <td>
                      <a href="{{ assignment.url }}">{{ assignment.title }}</a>
                    </td>
                    <td>
                      {{ assignment.points }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endfor %}
      </div>
  {% endswitch %}

{% endfor %}

<a href="{{ course.url }}" class="button small">Return to Course</a>
{% endblock %}
