{% extends '_layout_wide' %}

{% block content %}
  <h1>{{ entry.title }}</h1>

  {% for calendarSection in craft.categories.group('calendarSections').relatedTo(entry).orderBy('elements.dateCreated').all() %}

    <h2 class="part">{{ calendarSection.title }}</h2>

    {% for event in craft.entries.section('calendarEvents').relatedTo(calendarSection).orderBy('date').all() %}

      <div class="class-entry group">
        {# toggle the current week's info open #}
        <input class="toggle"{% if event.date <= date() and date() < event.date|date_modify('+1 week') %} checked{% endif %} id="toggle-{{ event.date|date('c') }}" type="checkbox" name="toggle" />
        <label for="toggle-{{ event.date|date('c') }}">

          <div class="blog-post-intro group">
            {# places check mark under date if 'now' is past the event week #}
            <div class="blog-post-date{% if event.date|date_modify('+1 week') < date() %} blog-post-date--past{% endif %}">

              <div class="blog-post-month">
                {{ event.date|date('M') }}
              </div>
              <div class="blog-post-day">{{ event.date|date('d') }}</div>
            </div>
            <div class="class-title">
              <h3>{{ event.title }}</h3>
              <p>{{ event.body }}</p>
            </div>
          </div>
        </label>
        <div id="content-{{ event.date|date('c') }}" class="class-summary">
          <dl class="calendar-dl">
            <dt>Read For Class</dt>
            <dd>{% if event.reading %}{{ event.reading }}{% else %}There's nothing to read for this week.{% endif %}</dd>
            <dt>Due</dt>
            {# check if there are assignments due during event week, add them if so #}
            <dd>
              {% if event.dueToday|length %}
                {{ event.dueToday }}
              {% else %}
                {% set dueCount = 0 %}
                {% set count = 0 %}

                {# count number of assignments due on this event date #}
                {% for assignment in craft.entries.section('assignments').relatedTo(craft.categories.group('assignmentTypes').relatedTo(craft.entries.section('assignmentLists').relatedTo(craft.entries.section('courses').relatedTo(entry)))).all() %}

                  {% if assignment.dueDate|date('W') == event.date|date('W')  %}

                    {% set dueCount = dueCount + 1 %}

                  {% endif %}
                {% endfor %}

                {# print the assignements due on this event date #}
                {% for assignment in craft.entries.section('assignments').relatedTo(craft.categories.group('assignmentTypes').relatedTo(craft.entries.section('assignmentLists').relatedTo(craft.entries.section('courses').relatedTo(entry)))).all() %}

                  {% if assignment.dueDate|date('W') == event.date|date('W')  %}
                  
                    {% set count = count + 1 %}
                    <a href="{{ assignment.url }}">{{ assignment.title }}</a>{% if count < dueCount %},{% endif %}
                    
                  {% endif %}
                {% endfor %}
                
                {% if dueCount < 1 %}
                  There's nothing due this week.
                {% endif %}
              {% endif %}
            </dd>

            <dt>Assigned</dt>
            {# check if there are assignments assigned during event week, add them if so #}
            <dd>
              {% if event.assignedToday|length %}
                {{ event.assignedToday }}
              {% else %}
                {% set assignedCount = 0 %}
                {% set count = 0 %}

                {# count number of assignments assigned on this event date #}
                {% for assignment in craft.entries.section('assignments').relatedTo(craft.categories.group('assignmentTypes').relatedTo(craft.entries.section('assignmentLists').relatedTo(craft.entries.section('courses').relatedTo(entry)))).all() %}
                  
                  {% if assignment.assignedDate|date('W') == event.date|date('W') %}

                    {% set assignedCount = assignedCount + 1 %}

                  {% endif %}
                {% endfor %}

                {# print the assignments assigned on this event date #}
                {% for assignment in craft.entries.section('assignments').relatedTo(craft.categories.group('assignmentTypes').relatedTo(craft.entries.section('assignmentLists').relatedTo(craft.entries.section('courses').relatedTo(entry)))).all() %}
                  
                  {% if assignment.assignedDate|date('W') == event.date|date('W') %}

                    {% set count = count + 1 %}
                    <a href="{{ assignment.url }}">{{ assignment.title }}</a>{% if count < assignedCount %},{% endif %}

                  {% endif %}
                {% endfor %}
                
                {% if assignedCount < 1 %}
                  There's nothing assigned this week.
                {% endif %}
              {% endif %}
            </dd>

            {% if event.slides|length %}
              <dt>Slides from Class</dt>
              <dd><a href="{{ event.slides.one().url }}">View Slides From Class</a></dd>
            {% endif %}
          </dl>
        </div>
      </div>
    {% endfor %}

  {% endfor %}
  
  <a href="{{ craft.entries.section('courses').relatedTo(entry).one().url() }}" class="button small">Return to Course</a>
{% endblock %}
