{% extends '_layout_wide' %}
{% block content %}
  <h1>{{ entry.title }}</h1>

  {% for calendarSection in craft.categories.group('calendarSections').relatedTo(entry).orderBy('elements.dateCreated').all() %}

    <h2 class="part">{{ calendarSection.title }}</h2>

    {% for event in craft.entries.section('calendarEvents').relatedTo(calendarSection).orderBy('date').all() %}

      <div class="class-entry group">
        <input class="toggle"{% if event.date|date('U') < 'now'|date('U') %} checked{% endif %} id="toggle-{{ event.date|date('c') }}" type="checkbox" name="toggle" />
        <label for="toggle-{{ event.date|date('c') }}">

          <div class="blog-post-intro group">
            <div class="blog-post-date{% if event.date|date('U') < 'now'|date('U') %} blog-post-date--past{% endif %}">

              <div class="blog-post-month">
                {{ event.date|date('M') }}
              </div>
              <div class="blog-post-day">{{ event.date|date('d') }}</div>
            </div>
            <div class="class-title">
              <h3>{{ event.title }}</h3>
              <p>{{ event.body }}</p>
            </div>
          </div>
        </label>
        <div id="content-{{ event.date|date('c') }}" class="class-summary">
          <dl>
            <dt>Read For Class</dt>
            <dd>{% if event.reading %}{{ event.reading }}{% else %}There's nothing to read for today.{% endif %}</dd>
            <dt>Due</dt>
            <dd>{# TODO #}</dd>
            <dt>Assigned</dt>
            <dd>{# TODO #}</dd>
            {% if event.slides %}
              <dt>Slides from Class</dt>
              <dd><a href="{{ event.slides }}">View Slides From Class</a></dd>
            {% endif %}
          </dl>
        </div>
      </div>
    {% endfor %}

  {% endfor %}
  
  <a href="/class" class="button small">Return to Class</a>
{% endblock %}
