{% extends "_layout" %}

{% block content %}
<h1>About RWD</h1>
<section class="main-content-area">
  {{ entry.body }}
  {% for instructor in craft.entries.section('instructors').orderBy('elements.dateCreated asc').all() %}
    <h2>Instructor: {{ instructor.title }}</h2>
    {{ instructor.body }}
  {% endfor %}
</section>
<aside>
  <section class="instructor-aside">
    {% for instructor in craft.entries.section('instructors').orderBy('elements.dateCreated asc').all() %}
      <img src="{{ instructor.image.one().asset.one().url }}" alt="{{ instructor.image.one().asset.one().url }}" />
      <div class="supplemental-information">
        {# initialize variables to zero #}
        {% set emailTotal, phoneTotal, emailCount, phoneCount = 0,0,0,0 %}

        {# count total number of email addresses and phone numbers #}
        {% for block in instructor.instructorInformation.all() %}
          {% if block.type == "email" %}
            {% set emailTotal = emailTotal + 1 %}
          {% elseif block.type == "phone" %}
            {% set phoneTotal = phoneTotal + 1 %}
          {% endif %}
        {% endfor %}

        {# print contact info and number email and phone numbers if there are multiple of each #}
        {% for block in instructor.instructorInformation.all() %}
          {% switch block.type %}
            {% case "email" %}
              {% set emailCount = emailCount + 1 %}
              <div class="supplemental-information-title">Email{% if emailTotal > 1 %} {{ emailCount }}{% endif %}</div>
              <div class="supplemental-information-attribute">
                <a href="mailto:{{ block.emailAddress }}">{{ block.emailAddress }}</a>
              </div>
            {% case "phone" %}
              {% set phoneCount = phoneCount + 1 %}
              <div class="supplemental-information-title">Phone{% if phoneTotal > 1 %} {{ phoneCount }}{% endif %}</div>
              <div class="supplemental-information-attribute">{{ block.phoneNumber }}</div>
            {% case "other" %}
              <div class="supplemental-information-title">{{ block.method }}</div>
              {% if block.hyperlink|length %}
                <div class="supplemental-information-attribute">
                  <a href="{{ block.hyperlink }}">{{ block.account }}</a>
                </div>
              {% else %}
                <div class="supplemental-information-attribute">{{ block.account }}</div>
              {% endif %}
          {% endswitch %}
        {% endfor %}

      </div>
    {% endfor %}
  </section>
</aside>
{% endblock %}
